<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBobAJXTKABmoht4j9X7Pcd5-PiHOSG3oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>677008493160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testWarkaa</string>
	<key>PROJECT_ID</key>
	<string>school-alartaqa</string>
	<key>STORAGE_BUCKET</key>
	<string>school-alartaqa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677008493160:ios:350371ef03c476418589dd</string>
</dict>
</plist>